* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

h1{
    font-size: 40px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    letter-spacing: 0.1rem;
    background-color: #ec6a00;
    color: white;        
    text-shadow: 1.5px 1.5px 1.5px rgb(3, 2, 2);
}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;   
    height: 55px; 
    background-color: #fcbe38;
    color: white;   
}

main{
    background-color:  #f6e4d5;
    height: 90vh;
}

.container-cards {    
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    height: auto;
    width: 100vw;        
    justify-content: space-evenly;
    margin-top: 4vh;
    padding-bottom: 2vh;
    background-color:  #f6e4d5;
}

img {
    height: 200px;
    width: 300px; 
    margin-top: 10px;  
    border-radius: 15px;
    margin-left: 15px;

}
ul {
    /* margin: 5px 5px 5px 5px; */
    list-style:none; /*remover as bolinhas de uma lista não ordenada*/  
}

.card {
    /* border: 1px solid orange; */
    height: 300px;
    width: 600px;
    gap:10px ;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center; 
    border-radius: 15px;
    background-color:#e8ccb5;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #ec6a00;
    color: white;
    height: 8vh; 
    width: 100vw;   
    gap: 5px;
    align-items: center;
    justify-content:center;    
    font-size: small;  
    align-self: baseline;  
    position:fixed;
    bottom: 0;
    letter-spacing: 0.08rem;
}

.git {
    height: 25px;
    width: 100px;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid rgb(249, 239, 239);
    background-color:#a95714;
    color: white;   
    box-shadow: 1px 2px 2px rgb(65, 2, 2); 
}