* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'candara';
    width: 100vw;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    letter-spacing: 0.1rem;
    background-color: #ec6a00;
    color: white;        
    text-shadow: 1.5px 1.5px 1.5px rgb(3, 2, 2);
}

.pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;   
    height: 55px; 
    background-color: #fcbe38;
    color: white;   
}

.container-cards {    
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    height: auto;
    width: 100vw;        
    justify-content: space-evenly;
    margin-top: 4vh;
    padding-bottom: 2vh;
}

img {
    height: 200px;
    width: 300px; 
    margin-top: 10px;  
}
ul {
    /* margin: 5px 5px 5px 5px; */
    list-style:none; /*remover as bolinhas de uma lista não ordenada*/  
}

.card {
    border: 2px solid orange;
    height: 300px;
    width: 600px;
    gap:10px ;
    background-color: white;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center; 
    border-radius: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #ec6a00;
    color: white;
    height: 8vh; 
    width: 100vw;   
    gap: 5px;
    align-items: center;
    justify-content:center;    
    font-size: small;  
    align-self: baseline;  
    position: fixed;
    bottom: 0;
}

.git {
    height: 25px;
    width: 100px;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid rgb(249, 239, 239);
    background-color:#a95714;
    color: white;   
    box-shadow: 1px 2px 2px rgb(65, 2, 2); 
}